.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  button {
    margin-top: 50px;
  }
}