.listItem__wrapper{
    list-style: none;
    padding: 50px 30px;
    display: flex;
    align-items: center;
}

.listItem__image{
    flex-shrink: 0;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.listItem__name{
    margin: 0;
    color: #1e58ff;
    font-weight: 700;
}

.listItem__description{
    margin: 10px 0 20px;
    font-weight: 300;
}

.listItem__button{
    font-size: 10px;
    padding: 7px 12px;
    text-decoration: none;
    font-weight: 500;
    background: none;
    border: 2px solid #1e58ff;
}

.listItem__button:hover{
    font-size: 10px;
    padding: 7px 12px;
    text-decoration: none;
    font-weight: 500;
    background: #1e58ff;
    color: #fff;
    border: 2px solid #1e58ff;
}